<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694762093333-ritftn7ci63cd6d1ss6n17oov94qg4rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694762093333-ritftn7ci63cd6d1ss6n17oov94qg4rr</string>
	<key>API_KEY</key>
	<string>AIzaSyCusFeo_6d-0EkNZaLYWQEFYXk8I36E258</string>
	<key>GCM_SENDER_ID</key>
	<string>694762093333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karyrodriguezarellano.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-a3daa</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-a3daa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694762093333:ios:69daf8f2981623f804471c</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios-13-a3daa.firebaseio.com</string>
</dict>
</plist>